{
    "rules": {
        "indent": "off",
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-undef": [2],
        "no-unused-vars": [2],
        "no-shadow": [2],
        "no-use-before-define": [2],
        "handle-callback-err": [2],
        "no-path-concat": [2],
        "comma-spacing": [2, {"before": false, "after": true}],
        "camelcase": [2, {"properties": "always"}],
        "no-var": [2],
        "no-const-assign": [2],
        "prefer-const": [2],
        "no-console": [0],
        "require-yield": "off",
        "no-useless-escape": "off"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "extends": "eslint:recommended",
    "root": true
}
